<%- include('partials/header'); -%>
  <header class="jumbotron">
	    <div class="container">
	       <h1>Welcome To YelpCamp</h1>
	       <p>View our hand picked Campgrounds from all over the Bangladesh</p>
	       <img src="img/hera.jpg" weidth="200" height="200">
	</header>
<%- include('partials/footer'); -%>